<html>
    <head>
        
    </head>
    <body>
        <h1><%= @references_vehicle_driver.driver_id %></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, esse, unde nemo ab temporibus eos placeat porro enim iste quo suscipit cumque culpa quod aut accusamus officia veniam. Tempora, fuga.</p>
    </body>
</html>