<style>
  .marginbot{
    margin-bottom: -100px%;
  }
  .margintop{
    margin-top: -100px;
  }.margintp{
    margin-top: -200px;
    margin-left: -70px;
  }
  .marginleft{
    margin-left: -70px;
  }
  @media screen and (max-width: 992px) {
  p,.btn,input,div,span,h4 {
    font-size: 95%;
  }
  h1 {
    font-size: 24px;  
  }
  h2 {
    font-size: 22px;  
  }
  h3 {
    font-size: 18px;  
  }
}

@media screen and (max-width: 768px) {
  p,.btn,input,div,span,h4 {
    font-size: 90%;
  }
  h1 {
    font-size: 20px;  
  }
  h2 {
    font-size: 18px;  
  }
  h3 {
    font-size: 16px;  
  }
}

body {
  font-family: 'Roboto Slab', serif !important;
}

.li{
  border: 1px solid #000 !important;
}
</style>

<div class="carousel-inner">
  <div class="item active"><img src="/Banner/BannerHome.jpg" style="width:100%" data-src="/Banner/BannerHome.jpg" alt="First slide">
    <div class="container">
      <div class="carousel-caption paddingcenter">
        <h1 style="font-size: 480%;"><font color="white">MOVE WITH ELEGANCE</font></h1>
        <h3><font color="white">CHOOSE YOUR SERVICE MODE</font></h3>    
      </div>
    </div>
  </div>
</div>

    <div>
        <h2 class="text-center" style="font-size: 40px;margin-top: 30px;margin-bottom: -5px;">BOOK YOUR RIDE IN 3 EASY STEPS</h2>
        <div class="container">
        <div class="row text-center">
          <div class="col-xs-7 col-sm-4">
              <div class="marginleft"><img src="/Banner/1.png" style="width:125%; height: auto;"></div>
              <div class="margintop"><img src="/Banner/n1.png" style="width:100%"></div>
          </div>
          <div class="col-xs-7 col-sm-4">
              <div class="marginleft"><img src="/Banner/2.png" style="width:125%; height: auto;"></div>
              <div class="margintop"><img src="/Banner/n2.png" style="width:100%"></div>
          </div>
          <div class="col-xs-7 col-sm-4">
              <div class="marginleft"><img src="/Banner/3.png" style="width:125%; height: auto;" ></div>
              <div class="margintop"><img src="/Banner/n3.png" style="width:100%"></div>
          </div>
        </div>
        </div>
    </div>
    
    <div>
        <h2 class="text-center" style="font-size:40px;margin-top:0px;margin-bottom:-15px;">YOUR BENEFITS</h2><br>
        <div class="container">
        <div class="row text-center"  style="margin-bottom: 30px;">
          <div class="col-xs-5 col-sm-3">
              <img src="/Banner/benefit1.png" style="width:100%">
              <h3 class="hidden-lg">COMPLEMENTARY WAIT TIME</h3>
              <p class="hidden-xs" style="margin-top: -35px !important;">Take your time and relax. Airport pickups include 60 minutes of free wait time, and all other pickups include a free 15 minutes.</p>
          </div>
          <div class="col-xs-5 col-sm-3">
              <img src="/Banner/benefit2.png" style="width:100%">
              <h3 class="hidden-lg">ALL-INCLUSIVE RATES</h3>
              <p class="hidden-xs" style="margin-top: -35px !important;">There are no hidden surprises with Blacklane. Your affordable all-inclusive rate — confirmed before you book — includes all taxes, tolls, fees and gratuities.</p>
          </div>
          <div class="col-xs-5 col-sm-3">
              <img src="/Banner/benefit3.png" style="width:100%">
              <h3 class="hidden-lg">PROFESSIONAL DRIVERS</h3>
              <p class="hidden-xs" style="margin-top: -35px !important;">Have peace of mind knowing that all Blacklane drivers are licensed, insured and regulated.</p>
          </div>
          <div class="col-xs-5 col-sm-3">
              <img src="/Banner/benefit4.png" style="width:100%">
              <h3 class="hidden-lg">FREE CANCELLATION</h3>
              <p class="hidden-xs" style="margin-top: -35px !important;">Change of plans? No problem! Cancellations are free up to 1 hour before one-way rides or 24 hours before hourly bookings.</p>
          </div>
        </div>
        </div>
    </div>
   
    <img src="/Banner/barcelona.png" style="width:100%" data-src="/Banner/BannerHome.jpg" alt="First slide">
    <br>
    
   <div>
        <h2 class="text-center" style="font-size: 40px;">OUR FLEET</h2><br>
        <div class="container">
        <div class="row text-center">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li class="li" data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li class="li" data-target="#myCarousel" data-slide-to="1"></li>
    <li class="li" data-target="#myCarousel" data-slide-to="2"></li>
    <li class="li" data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="/Banner/auto.png" alt="Chania">
        </div>
    
        <div class="item">
          <img src="/Banner/auto.png" alt="Chania">
        </div>
    
        <div class="item">
          <img src="/Banner/auto.png" alt="Chania">
        </div>
    
        <div class="item">
          <img src="/Banner/auto.png" alt="Chania">
        </div>
      </div>

</div>
        </div>
        </div>
    </div>
    
    <div id="info"></div>
    <div class="container-fluid">
        <div class="row">
            <input type="text" class="form-control center tamanoInput" id="search-place" placeholder="Where do you want to go?"><br>
            <div class="col-md-12">
                <div id="map"></div>
            </div>
        </div>
    </div>
    
    
    <br>
    
    <div class="hidden-xs">
        <h2 class="text-center">TESTIMONIALS</h2><br>
        <h3 class="text-center">Learn what our costumers have to say</h3>
        <div class="container">
        <div class="row text-center">
          <div class="margintop"><img src="/Banner/testimonios.png" style="width:100%"></div>
          <div class="hidden-xs"><div class="margintp"><img src="/Banner/testimony.png" style="width:100%"></div></div>
        </div>
        </div>
    </div>
    <br>
    
      <img src="/Banner/store.png" style="width:100%" data-src="/Banner/store.png" alt="First slide">
    
    
    <footer class="sizefooter">
        <div class="container">
            <div class="row white">
              <div class="text-right"><br/><h4>FOLLOW US</h4><br>
                <a class="facebookBtn smGlobalBtn" href="https://www.facebook.com/" target="_blank"></a>
                &nbsp&nbsp&nbsp&nbsp&nbsp<a class="twitterBtn smGlobalBtn" href="https://www.facebook.com/" target="_blank"></a>
                <a href="https://www.facebook.com/" target="_blank"><img src="/Banner/instagram.png"></a>
                <a class="googleplusBtn smGlobalBtn" href="https://www.facebook.com/" target="_blank"></a>
                <a href="https://www.facebook.com/" target="_blank"><img src="/Banner/youtube.png"></a>
                <a class="linkedinBtn smGlobalBtn" href="https://www.facebook.com/" target="_blank"></a></div>
                <h4 class="text-left">POWERED BY</h4>
                <img src="/Banner/paypal_logo_small.png">
                
            </div>
        </div>
    </footer>
