<style>
    .textColor{
        color: #BDBDBD;
    }
    .textColor2{
        color: #000;
    }
    .textNegrita{
        font-weight: bold;
    }
    .colorgraph {
        height: 5px;
        border-top: 0;
        background: #c4e17f;
        border-radius: 5px;
        background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    }
</style>

<div class="row">
    <div class="col-md-12">
        <center><h1 class="textColor">Tootly Services</h1></center>
    </div>
</div>

<br></br>

<div class="row">
    <div class="col-md-3 col-md-offset-1">
        
        <div class="row">
            <hr class="colorgraph">
            <h3>CONTACT</h3>
            <p>--address--</p>
            <p>--phone--</p>
            <p>--mail--</p>
            <hr class="colorgraph">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-official fa-3x"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter fa-3x"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram fa-3x"></i></a>
            <hr class="colorgraph">
        </div>

    </div>
    <div class="col-md-8">
        
        <div class="row">
        
            <div class="col-md-10 col-md-offset-2">
                <ul class="textNegrita textColor2">
                    <li>Uno</li>
                    <li>Dos</li>
                </ul>
            </div>
            <div class="col-md-11 col-md-offset-1">
                <p class="textColor2">
                    Texto
                </p>
            </div>
        </div>
        
    </div>
</div>
