<%= form_for(@user) do |f| %>
    <label class="control-label">Start Date</label>
    <%= f.text_field :email, id: "datepicker", :class=>"form-control" %>
<%end%>


<%= "Prueba nueva" %>

<%= "Esperando a recibir la prueba" %>