<div class="panel panel-primary">
  <div class="panel-heading">
    <h1> <%= @user.firstName %></h1>
  </div>
  <div class="panel-body">
    <d1>
      <dt class="text-info">Email:</dt>
      <dd><%= @user.email %></dd>
      <dt class="text-info">FirstName:</dt>
      <dd><%= @user.identityCard %></dd>
      <dt class="text-info">Rol:</dt>
      <dd><%= @user.rol %></dd>
    </d1>
  </div>
</div>