<div class="row">
    <div class="col-md-4">
        <%= button_to "/pagar", method: :post, :class =>"payment-btn paypal-btn no-margin" do %>
            Pagar con 
            <%= image_tag "/icons/paypal_logo_small.png" %>
        <%end%>
    </div>
</div>