<h1>Editing References Vehicle Driver</h1>

<%= render 'form', references_vehicle_driver: @references_vehicle_driver %>

<%= link_to 'Show', @references_vehicle_driver %> |
<%= link_to 'Back', references_vehicle_drivers_path %>
