.signup-top {
    height: 90px;
    margin: 60px 0;
}
.signup-top .signup-top-images {
    display: inline-block;
    width: 23%;
}
.signup-top .signup-top-images .signup-top-phones {
    height: 235px;
    width: 212px;
    margin-left: -55%;
    
}
.signup-top .signup-top-text {
    display: inline-block;
    width: 73%;
    vertical-align: top;
    margin-top: -20px;
}
.signup-top .signup-top-text .signup-top-text-title {
    text-transform: uppercase;
    font-size: 30px;
    color: #1fbad6;
}
.signup-top .signup-top-text .signup-top-text-subtitle {
    font-size: 14px;
    font-weight: 400;
}
.signup-wrapper {
    width: 680px;
    margin: 0 auto;
}
.form-container {
    width: 70%;
    margin: 0 auto;
}
.signup-form-section {
    position: relative;
}
.signup-form-section {
    padding-bottom: 50px;
    margin-bottom: -25px;
}
.signup-form-section .signup-form-section-title {
    font-size: 22px;
    font-weight: 400;
}
.signup-form-section .signup-form-section-required {
    position: absolute;
    right: 0;
    top: 4px;
    font-size: 10px;
    font-weight: 500;
}
.signup-form-section .signup-form-section-number.blue {
    color: #1fbad6;
    border-color: #1fbad6;
    border-left: solid 1px #1fbad6;
    -webkit-transition-property: 'color text';
    -moz-transition-property: 'color text';
    -o-transition-property: 'color text';
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
}
.signup-form-section .signup-form-section-number {
    position: absolute;
    top: 0;
    left: -75px;
    width: 36px;
    height: 36px;
    padding: 7px 0 0 12px;
    font-size: 14px;
    color: #C6C6C6;
    border: 1px solid #f1f1f1;
    border-radius: 50%;
    background-color: #fff;
    z-index: 10;
}
.signup-form-section .signup-form-section-line {
    position: absolute;
    top: 0;
    left: -57px;
    width: 36px;
    height: 100%;
    border-left: solid 1px #000;
}
.form-group {
    width: 100%;
    padding-bottom: 19px;
    font-family: ff-clan-web-pro-wide,sans-serif;
}
.signup-form-section {
    position: relative;
}
.signup-form-section {
    padding-bottom: 50px;
    margin-bottom: -25px;
}
.mobile-number {
    position: relative;
    min-height: 95px;
}
.form-group label {
    padding-top: 15px;
    line-height: 20px;
    margin-bottom: 8px;
    color: #666;
}
.mobile-number select {
    width: 22%;
    float: left;
    background-color: #f1f1f1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 7%;
}
.mobile-number .mobile-country-mask {
    pointer-events: none;
    position: absolute;
    width: 15%;
    height: 37px;
    margin: 1px 0 0 10px;
    background-color: #f1f1f1;
    border-radius: 2px;
}
.mobile-number .mobile-country-mask .mobile-country-mask-text {
    margin: 0;
    font-size: 13px;
    line-height: 40px;
    font-weight: 500;
    text-align: center;
}
.mobile-number input {
    width: 78%;
    float: left;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.form-group input {
    border: 1px solid #ccc;
    border-radius: 3px;
}
.row {
    margin-left: -10px;
    margin-right: -10px;
}
.submit {
    margin-bottom: 40px;
    padding-bottom: 0;
}
.signup-form-section {
    position: relative;
}
.submit .loader {
    position: absolute;
    top: 7px;
    right: 15px;
}
.invisible, .submit .loader {
    visibility: hidden;
}
img, legend {
    border: 0;
}
.submit .signup-form-section-notice {
    text-align: center;
    color: #666;
    font-size: 13px;
    font-weight: 500;
}
.submit .signup-form-section-number {
    padding: 0;
    background: url(https://d1a3f4spazzrp4.cloudfront.net/free-candy/images/signup-lite-check-gray@1x.d436fc89ff3cf7a29a0e06a9535a1f60.png) center center no-repeat #fff;
}
.agree-terms {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
}